<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
<meta name="author" content="Uchida Masatomo" />
{% load static %}

<script src="{% static 'tag_audio/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'tag_audio/audio.js' %}"></script>
<link rel="stylesheet" href="{% static 'tag_audio/audio.css' %}">

<title>Audio</title>
</head>
<body>

オーディオの処理に役に立つソフトの紹介です。<p />
<blockquote>
	<button id="cplay">cplay</button>
	<button id="parole">parole</button>
	<button id="mpg321">mpg321</button>
	<button id="soundconverter">soundconverter</button>
	<button id="mpg123">mpg123</button>
	<button id="audacity">audacity</button>
	<button id="sound-recorder">sound-recorder</button>
	<button id="daisy-player">daisy-player</button>
	<button id="sox">sox</button>
</blockquote>

<div id="contents"></div>

<p />
<div id="outarea_aa">outarea_aa</div>
<div id="outarea_bb">outarea_bb</div>
<div id="outarea_cc">outarea_cc</div>
<div id="outarea_dd">outarea_dd</div>
<div id="outarea_ee">outarea_ee</div>
<div id="outarea_ff">outarea_ff</div>
<div id="outarea_gg">outarea_gg</div>
<div id="outarea_hh">outarea_hh</div>
<p /> 
<hr />
Dec/26/2018<br>
</body>
</html>
